*{
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
}
body{
  font-size: 14px;
  font-family: 'raleway', sans-serif;
}
.header{
  background-color: black;
}
.header-h{
  padding: 0px 0px;
  margin-top: 7px;
}
.vert-head{
  line-height: 1.5;
}
.fav-me{
  padding: 7px 0;
}
.menu{
  background: #ff8f00;
}
.main-menu{
  margin-bottom: 0;
  margin-left: 102px;
  margin-right: 102px;
}
.main-menu>li{
  padding: 20px;
  border: 1px solid gold;
  border-width: 0 0 0 1px;
}
.main-menu>li>a{
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
.main-menu>li>a:hover{
  color: black;
  text-decoration: none;
}
.main-menu>li>a:active{
}
.main-menu>li.last-menu{
  border: 1px solid gold;
  border-width: 0 1px 0 1px;
}
.singup{
}
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}
.des-header{
  padding: 13px;
  margin-left: -10px;
  line-height: 1;
}
.text-white{
  color: #fff;
}
.text-gold{
  color: #ff8f00;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown1:hover .dropbtn {
    background-color: #3e8e41;
}
